{% extends 'blogs/index.html' %}

{% block content %}
  <div id="blog-wrapper">
    {% if blog_posts %}
      {% for post in blog_posts %}
        <article class="blog-post">
          <h3 class="blog-title"><a href="{{ post.get_detail_link }}">{{ post.title }}</a></h3>
          <h5 class="date-and-author">{{ post.get_date_and_author }}</h2>
          <p class="blog-content">{{ post.content }}</p>
          <a href="{{ post.get_detail_link }}">Read more...</a>
          <hr>
        </article>
      {% endfor %}
      {% else %}
        <h3>There are no posts...?</h3>
    {% endif %}
  </div>
{% endblock content %}
