<!DOCTYPE html>
<!-- Main template for webpage -->
<html>
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <title>Test design</title>
    <link rel="stylesheet" href="{% static 'blogs/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
  </head>
  <body>
    <div id="wrapper">
      <nav id="navbar">
        <ul id="menu">
          <li><div id="title"><span>{</span> <a href="#">wost</a> <span>}</span></div></li>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Work</a></li>
        </ul>
        <ul id="social-media">
          <li id="twitter"><a href="https://twitter.com/_wost"><img src="{% static 'blogs/twitter-logo.svg' %}" alt="Twitter" /></a></li>
          <li id="github"><a href="https://github.com/wOstensen"><img src="{% static 'blogs/github-logo.svg' %}" alt="Github" /></a></li>
          <li></li>
        </ul>
      </nav>
      <div class="separator"></div>
      <!-- Django -->
      {% block content %}
      {% endblock %}
      <!-- Django end -->
    </div>
  </body>
</html>
