{% extends 'blogs/index.html' %}

{% block _title %} {{ blog.title }} {% endblock _title %}

{% block content %}

<style>
article { text-align: left; }
h1 { color: #028482; }
h1, h5, h6 { margin: 0; }
a:first-child { color: #666; }
a:first-child:hover { color: #888; }
</style>

<article>
	<h6><a href="javascript:window.history.back()">< Go Back</a></h6>
	<h1 class="blog-title">{{ blog.title }}</h1>
	<h5 class="date-and-author">Posted <abbr title="{{ blog.pub_date|date:'H:i'}}">{{ blog.pub_date|date:'d M Y' }}</abbr> by {{ blog.author }}</h5>
	<p class="blog-content">{{ blog.content }}</p>
	<br><br>
	<b>Comment(s): </b>
</article>

{% endblock %}
